body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: aqua;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color:darkgoldenrod;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Navagation Bar Modify*/
.navbar.navbar-inverse.navbar-fixed-top{
    background-color:aqua;    
}

.navbar-header a.navbar-brand{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    font-size:30px;
}

    .navbar-header a.navbar-brand:hover {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: red;
        background-color: black;
        font-size: 30px;
    }

ul.nav.navbar-nav li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-weight:bold;
    font-size:20px;
}

ul.nav.navbar-nav li a:hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    font-weight: bold;
    font-size: 20px;
    background-color:black;
}
button.navbar-toggle{
    background-color:black;
    color:aqua;
}


/*Home page Header*/
.jumbotron.HomeHeader {
    justify-content: center;
    height: 150px;
    background-color: gold;
    color: black;
    padding: 0;
}

h1.HomeHeader {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    height: 50px;
    padding-left: 300px;
}

p.HomeHeader {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    height: 50px;
}


/*Reviews Column Modify*/
.col-md-4.Reviews {
    height: 200px;
    background-image: url('Img/online-reviews.jpg');
    background-size: cover;
    color: black;
}

    .col-md-4.Reviews h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 35px;
        padding-left: 90px;
    }

    .col-md-4.Reviews p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        padding-left: 13px;
    }

        .col-md-4.Reviews p a.btn.btn-default {
            background-color: black;
            color: red;
            opacity: .9;
            border-radius: 60%;
            border-color: black;
        }

        .col-md-4.Reviews p a.btn.btn-default:hover {
            background-color: red;
            color: black;;
            opacity: .9;
            border-radius: 60%;
            border-color: black;
        }

/*Locations Modify*/
.col-md-4.Locations {
    height: 200px;
    background-image: url('Img/rsz_location_pin.jpg');
    background-size: cover;
    color:black;
}

    .col-md-4.Locations h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 35px;
        padding-left: 90px;
    }

    .col-md-4.Locations p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        padding-left: 50px;
    }

        .col-md-4.Locations p a.btn.btn-default {
            background-color: black;
            color: red;
            opacity: .9;
            border-radius: 60%;
            border-color: black;
        }

.col-md-4.Locations p a.btn.btn-default:hover {
    background-color: red;
    color: black;
    opacity: .9;
    border-radius: 60%;
    border-color: black;
}

/*Category Modify*/
.col-md-4.Categories {
    height: 200px;
    background-image: url('Img/rsz_category.jpg');
    background-size: cover;
    color: black;
}

.col-md-4.Categories h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    padding-left: 50px;
}

.col-md-4.Categories p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-left: 30px;
}

    .col-md-4.Categories p a.btn.btn-default {
        background-color: black;
        color: red;
        opacity: .9;
        border-radius: 60%;
        border-color: black;
    }

.col-md-4.Categories p a.btn.btn-default:hover {
    background-color: red;
    color: black;
    opacity: .9;
    border-radius: 60%;
    border-color: black;
}

/*footer Modify*/

footer p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    color:black;
}

/*Reviews page modify*/
h2.Reviews.Header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: black;
}

p a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;    
}

p a:hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    background-color:black;    
}

/*edit/detail/delete modify*/
tr td a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
}

tr td a:hover{
    color:black;
    background-color:red;
}

tr td{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
}

/*font modify*/
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

label.control-label.col-md-2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

input#Name.form-control.text-box.single-line {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

input#ReviewedDate.form-control.text-box.single-line {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

input#StarRating.form-control.text-box.single-line {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

input#Comments.form-control.text-box.single-line {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

select#LocationID.form-control{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

select#CategoryID.form-control {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

input.btn.btn-default {
    background-color: black;
    color: red;
    opacity: .9;
    border-radius: 60%;
    border-color: black;
}

input.btn.btn-default:hover {
    background-color: red;
    color: black;
    opacity: .9;
    border-radius: 60%;
    border-color: black;
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

a:hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    background-color:black;
}

/*details modify*/
dt {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

dd {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}