@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron HomeHeader">
    <h1 class="HomeHeader">Your Reviews Matter</h1>
    <p class="HomeHeader">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at eleifend eros, in vehicula erat. Donec nibh nisi, consequat a nisl non, bibendum interdum risus. Nullam eu lobortis mauris. Integer sapien massa, mattis non lacus in, venenatis viverra nunc. Pellentesque consectetur augue et erat consectetur eleifend. Mauris in lacinia sapien.</p>
    
</div>

<div class="row">

    <div class="col-md-4 Reviews">
        @*Reviews Column*@
        <h2>Your Reviews.</h2>
        <p>
            We care what you have to say. Let the world have it.
        </p>
        <p><a class="btn btn-default" href="~/Reviews/Index/">See Reviews</a></p>
    </div>





    <div class="col-md-4 Locations">
        @*Locations Column*@
        <h2>See the Locations.</h2>
        <p>See all the reviews locations.</p>
        <p><a class="btn btn-default" href="~/Locations/Index/">See Locations</a></p>
    </div>





    <div class="col-md-4 Categories">
        @*Categories Column*@
        <h2>Find your Category.</h2>
        <p>What area category are you looking to take your next trip in.</p>
        <p><a class="btn btn-default" href="~/Categories/Index/">View Categories</a></p>
    </div>
</div>