@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron HomeHeader">
    <h1>Your Reviews Matter</h1>
    
</div>

<div class="row">
    <div class="col-m-4"></div>

    <div class="col-md-4 Reviews"> @*Reviews Column*@
        <h2>Your Reviews.</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="~/Reviews/Index/">Learn more &raquo;</a></p>
    </div>
    <div class="col-m-4"></div>
</div>

<div class="row">
    <div class="col-m-4"></div>

    <div class="col-md-4 Locations"> @*Locations Column*@
        <h2>See the Locations.</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="~/Locations/Index/">Learn more &raquo;</a></p>
    </div>

    <div class="col-m-4"></div>
</div>

<div class="row">
    <div class="col-m-4"></div>

    <div class="col-md-4 Categories"> @*Categories Column*@
        <h2>Find the Cateroy you want.</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="~/Categories/Index/">Learn more  &raquo;</a></p>
    </div>

    <div class="col-m-4"></div>
</div>